<div class="content-wrapper">
    <div class="profile-wrapper">
        <div class="profile">
            <img src="assets/images/profile-pic.jpg" class="profile-pic" />
        </div>

        <div class="bio">
            <p class="bebas-neue-font name"> Ednaldo Romer de Oliveira Júnior </p>
            <p class="bebas-neue-font age"> {{ age }} anos </p>
        </div>

        <div class="tech">
            <div *ngFor="let tech of techBrands">
                <img [src]="tech.icon" [style]="tech.style" [matTooltip]="tech.name" />
            </div>
        </div>
    </div>

    <div class="xp-wrapper">
        <mat-accordion class="accordion-panel">
            <mat-expansion-panel class="expansion-panel" *ngFor="let workItem of workInfo">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img [src]="workItem.icon" class="item-icon" />
                        <span class="item-header"> {{ workItem.title }} </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div [innerHTML]="workItem.content" style="font-size: 18px;">                    
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
