<div class="content-wrapper">
    <div class="profile-wrapper">
        <div class="profile">
            <img src="assets/images/profile-pic.jpg" class="profile-pic" />
        </div>

        <div class="bio">
            <p class="bebas-neue-font name"> Ednaldo Romer de Oliveira Júnior </p>
            <p class="bebas-neue-font age"> {{ age }} anos </p>
        </div>
    </div>

    <div class="xp-wrapper">
        <mat-accordion class="accordion-panel" multi>
            <mat-expansion-panel class="expansion-panel" *ngFor="let workItem of workInfo">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img [src]="workItem.icon" class="item-icon" />
                        <span class="item-header"> {{ workItem.title }} </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p style="white-space: pre-wrap;">
                    {{ workItem.content }}
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
