<div #topElementRef></div>

<app-top-container [isMobileView]="isMobileView"></app-top-container>

<div *ngIf="!isMobileView" class="icon-wrapper" #bottomElementRef>
    <figure *ngIf="scrolling$ | async as scrolling">
        <img
            *ngIf="scrolling.toString() == 'TOP'"
            (click)="scrollTo(bottomElementRef, positionBottom)"
            src="assets/svg-icons/arrow-down.svg"
            alt="Arrow Down Icon" class="arrow-icon"
            matTooltip="Rolar para baixo"
            matTooltipPosition="left"
            matTooltipShowDelay="500"
        />
        <img *ngIf="scrolling.toString() == 'BOTTOM'"
            (click)="scrollTo(topElementRef, positionTop)"
            src="assets/svg-icons/arrow-up.svg"
            alt="Arrow Up Icon"
            class="arrow-icon"
            matTooltip="Ir para cima"
            matTooltipPosition="left"
            matTooltipShowDelay="500"
        />
    </figure>
</div>

<app-content-container [isMobileView]="isMobileView"></app-content-container>
