.icon-wrapper {
    width: 100%;
    text-align: center;
    
    .arrow-icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform .2s;
    }

    .arrow-icon:hover {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

}