<div class="content-wrapper">
    <aside class="links-wrapper">
        <ng-container *ngFor="let project of projects; let i = index">
            <div matRipple
                class="link"
                [ngClass]="{'link-highlight': (selectedProject === project)}"
                (click)="setProject(project)"
            >
                <span class="bebas-neue-font link-item"> {{ project.name }} </span>
            </div>

            <mat-divider *ngIf="checkLastItem(i)" class="divider"></mat-divider>
        </ng-container>
    </aside>

    <div class="projects-wrapper">
        <ng-container *ngIf="selectedProject">
             Categoria: <strong> {{ selectedProject.type }} </strong>
            <div [innerHTML]="selectedProject.content" style="font-size: 18px;"></div>
        </ng-container>
    </div>
</div>
