<div class="content-wrapper">
    <aside class="links-wrapper">
        <ng-container *ngFor="let project of projects; let i = index">
            <div
                class="link" 
                (click)="setProject(project)"
            >
                <span class="bebas-neue-font link-item"> {{ project.name }} - {{ project.type }} </span>
            </div>

            <mat-divider *ngIf="checkLastItem(i)" class="divider"></mat-divider>
        </ng-container>
    </aside>

    <div class="projects-wrapper">
        <ng-container *ngIf="selectedProject">
            {{ selectedProject.content }}
        </ng-container>
    </div>
</div>
