.global-wrapper {
    width: calc(100% - 100px);
    margin: auto;
    margin-top: 20px;
    padding-bottom: 100px;
}

.global-wrapper-mobile {
    width: calc(100% - 50px);
    padding-bottom: 50px;
}