<div class="global-wrapper">
    <div class="home-wrapper">
        <img src="assets/svg-icons/home.svg" alt="Home Icon" class="home" />
    </div>

    <div class="display-config">
        <div class="content-wrapper">
            <div class="top">
                <span class="break-font"> PORTFOLIO </span>
            </div>
    
            <div class="middle">
                <p class="archivo-font text-name"> EDNALDO ROMER </p>
                <p class="archivo-font text-desc"> DESENVOLVEDOR WEB </p>
            </div>
        </div>

        <div class="social-info-wrapper">
            <a href="https://www.linkedin.com/in/ednaldo-romer-de-oliveira-j%C3%BAnior-5b98331b7/" target="_blank">
                <img src="assets/svg-icons/linkedin.svg" alt="LinkedIn Icon" class="linkedin" matTooltip="LinkedIn" matTooltipPosition="before" />
            </a>
            <a href="https://github.com/edroliveira" target="_blank">
                <img src="assets/svg-icons/github.svg" alt="GitHub Icon" class="github" matTooltip="GitHub Repository" matTooltipPosition="before" />
            </a>
            <a href="https://www.linkedin.com/in/ednaldo-romer-de-oliveira-j%C3%BAnior-5b98331b7/" target="_blank">
                <img src="assets/svg-icons/gmail.svg" alt="Gmail Icon" class="gmail" matTooltip="Gmail" matTooltipPosition="before" />
            </a>
        </div>
    </div>
</div>