<header *ngIf="!isMobileView" class="global-wrapper">
    <div class="display-config">
        <div class="content-wrapper">
            <div class="top">
                <span class="break-font title"> PORTFOLIO </span>
            </div>
    
            <div class="middle">
                <p class="archivo-font text-name"> EDNALDO ROMER </p>
                <p class="archivo-font text-desc"> DESENVOLVEDOR WEB </p>
            </div>
        </div>

        <nav class="social-info-wrapper">
            <a
                *ngFor="let socialInfo of socialInfoOptions"
                [href]="socialInfo.url"
                target="_blank"
            >
                <img
                    [src]="socialInfo.imgSrc"
                    [alt]="socialInfo.description"
                    [class]="socialInfo.className"
                    [matTooltip]="socialInfo.tooltip"
                    matTooltipPosition="before"
                />
            </a>
        </nav>
    </div>

    <div class="footer-wrapper" #bottomElementRef>
        <ng-container *ngFor="let option of selectionOptions">
            <div *ngIf="screenComponent$ | async as screenComponent">
                <div
                    class="option"
                    [ngClass]="{'option-highlight': (screenComponent === option.screenComponent)}"
                    (click)="openSelectedComponent(option)"
                >
                    <span>  {{ option.displayText }} </span>
                </div>
            </div>
        </ng-container>
    </div>
</header>

<header *ngIf="isMobileView" class="global-wrapper-mobile">
    <div class="display-config">
        <div style="margin-left: 40px; align-content: center;">
            <span class="break-font title-mobile"> PORTFOLIO </span>
        </div>

        <div>
            <img
                (click)="openDialog()"
                src="assets/svg-icons/menu.svg"
                alt="Menu Icon"
                class="menu-icon"
            />
        </div>
    </div>
</header>