.title {
    font-size: 120px;
    color: #f5f5dc;
}

.global-wrapper {
    background-image: url('../../assets/images/background.png');
    max-width: 100%;
    height: 80%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom-left-radius: 112px;
    border-bottom-right-radius: 112px;
}

.home-wrapper {
    margin: 20px 0 0 20px;

    .home {
        width: 55px;
        height: 55px;
        filter: invert(100%) sepia(100%) saturate(609%) hue-rotate(314deg) brightness(108%) contrast(25%);
        cursor: pointer;
        transition: 0.2s;
    }

    .home:hover {
        filter: invert(100%) sepia(100%) saturate(609%) hue-rotate(314deg) brightness(108%) contrast(100%);
    }
}

.display-config {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.content-wrapper {
    margin: 100px 0 0 150px;

    .top {
        margin-bottom: 80px;
    }

    .middle {
        p {
            color: #f5f5dc;
            margin-left: -40px; 
        }

        .text-name {
            font-size: 45px;
        }

        .text-desc {
            font-size: 20px;
            opacity: 0.7;
        }
    }
}

.social-info-wrapper {
    height: max-content;
    padding: 50px 100px 0 0;
    display: grid;

    .linkedin, .github, .gmail {
        width: 75px;
        height: 75px;
        margin-bottom: 20px;
        cursor: pointer;
        filter: invert(100%) sepia(70%) saturate(609%) hue-rotate(314deg) brightness(108%) contrast(100%);
        transition: transform .2s;
    }

    .linkedin:hover, .github:hover, .gmail:hover {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.footer-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;

    .option {
        padding: 10px;
        border-bottom: 4px solid rgba(245, 245, 220, 0.3);
        cursor: pointer;
        transition: 0.2s;

        span {
            font-size: 25px;
            color: #f5f5dc;
        }
    }

    .option:hover {
        border-bottom: 4px solid rgba(245, 245, 220);
    }
}